<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head}"></head>
<body class="seller-body">
<nav th:replace="~{layout::navigation}"></nav>
<header th:replace="~{layout::header-seller}"></header>
<!-- main -->
<main>
    <div class="dasboard">
        <form method="POST" enctype="multipart/form-data" class="upsert-form" th:attr="action=@{/product/product-upsert}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <table>
                <input type="hidden" name="id" th:field="${dto.id}"/>
                <input type="hidden" name="idShop" th:field="${dto.idShop}">
                <input type="hidden" name="imagePath" th:field="${dto.imagePath}">
                <tbody>
                <tr>
                    <td>Product Name</td>
                    <td>:</td>
                    <td><input type="text" name="productName" id="productName" placeholder="Product Name" th:field="${dto.name}"/></td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>:</td>
                    <td>
                        <select name="category" id="category">
                            <option value="null">--Select Category--</option>
                            <option th:each="option:${categoryDropdown}" th:value="${option.idValue}"
                                    th:text="${option.stringValue}" th:selected="option">cat1</option>

                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>:</td>
                    <td><input type="text" name="price" id="price" placeholder="Price" th:field="${dto.price}"/></td>
                </tr>
                <tr>
                    <td>Stock</td>
                    <td>:</td>
                    <td><input type="text" name="stock" id="stock" placeholder="Stock" th:field="${dto.stock}"/></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>:</td>
                    <td><textarea name="description" id="description" cols="10" rows="10" th:field="${dto.description}"></textarea></td>
                </tr>
                <tr>
                    <td>Image</td>
                    <td>:</td>
                    <td><input type="file" name="" id="" th:field="${dto.image}"/></td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: end; padding-top: 20px">
                        <button class="main-button" th:text="${type}">add product</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</main>
<!-- end Main -->
<footer th:replace="~{layout::footer-seller}"></footer>
<script th:replace="~{layout::script}"></script>
</body>
</html>